<h1>Garageio Index of Cars</h1>

	<% @cars.each do |c| %>
		<h2><%= c.nickname %></h2>
		<p><img src="<%= c.url %>" width="300"></p>
		<p>
			Make: <%= c.make %><br>
			Model: <%= c.model %><br>
			Color: <%= c.color %><br>
			Year: <%= c.year %>
		</p>

	<% end %>
